:host {
	.selector-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 4px;

		.options-wrapper {
			background: var(--black);
			padding: 4px 12px;
			display: flex;
			align-items: center;
			border-radius: 12px;
			border-color: var(--gray);
			width: 160px;
			justify-content: center;
			overflow-x: hidden;
			gap: 8px;
			position: relative;
		}
	}
}

