:host {
  border-radius: 12px;
  border: 1px solid;
  outline: none;
  text-shadow: 1px -2px black;
  transition: background-color 0.2s ease-in-out;
  font-size: 18px;
  padding: 4px 12px;

  &:hover {
    cursor: pointer;
  }

  &.btn-primary {
    border-color: var(--gray);
    background-color: var(--red);
    color: var(--yellow);

    &:active {
      background-color: var(--dark-red);
    }
  }

  &.btn-info {
    border-color: var(--black);
    background-color: var(--gray);
    color: var(--yellow);

    &:active {
      background-color: var(--dark-gray);
    }
  }
}
