/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'LifeCraft';
	background-color: black;
	color: darkgoldenrod;
	user-select: none;
}

@font-face {
    font-family: 'LifeCraft';
    src: url('assets/fonts/LifeCraft.ttf');
}