:host {
	min-height: 40px;
	padding: 10px 20px;
	background-color: rgba(0,0,0,.5);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	border: var(--gray) solid 1px;
	position: absolute;
}